.header {
  padding-left: 4vw;
  padding-right: 4.7vw;

  @include md-up {
    padding-left: 16.9vw;
    padding-right: 7.15vw;
  }

  &__content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    line-height: 0;
    padding: 14px 0;

    @include sm-up {
      padding: 17px 0;
    }
  }
  &__logo {
    order: 1;
  }
  &__profile {
    cursor: pointer;
    order: 2;

    @include sm-up {
      margin: 0 40px 0 auto;
      order: 2;
    }
    @include md-up {
      margin: 0 101px 0 auto;
    }
  }
  &__theme {
    cursor: pointer;
    width: 20px;
    height: 20px;
    order: 2;
    margin: 0 40px 0 auto;

    @include sm-up {
      margin: 0;
      order: 3;
    }
  }
}
.profile {
}

.profile-menu {
  background-color: $gray-300;
  color: $gray-50;
  border-radius: 15px;
  min-width: 205px;

  &__list {
    padding: 10px 10px;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    user-select: none;
  }

  &__link {
    display: block;
    color: $gray-50;
    text-decoration: none;
  }
  &__item:hover {
    background-color: $gray-400;
    transition-duration: 500ms;
  }

  &__switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 18px;
    background: rgb(209, 209, 209);
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
  }
  &__switch::after {
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 8px;
    background: $gray-300;
    top: 3px;
    left: 3px;
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    background: $green;
  }
  .switch-on::after {
    background: #fff;
    left: 23px;
  }
  &::before {
    content: "";
    background: $gray-300;
    height: 20px;
    width: 20px;
    border-radius: 8px;
    position: absolute;
    transform: rotate(45deg);
    top: -2.6px;
    right: 22px;

    @media (min-width: 325px) and (max-width: 376px) {
      right: 25px;
    }
    @media (min-width: 376px) and (max-width: 500px) {
      right: 27px;
    }
    @media (min-width: 500px) and (max-width: 540px) {
      right: 30px;
    }
    @media (min-width: 541px) and (max-width: 600px) {
      right: 33px;
    }

    @include sm-only {
      right: 52px;
      left: auto;
    }
    @include md-up {
      left: 53px;
    }
  }
}
