.sidebar {
  margin-top: 40px;
  &__item {
    display: flex;
    align-items: center;
  }
  &__amount {
    margin-left: 2px;
  }

  &__footer {
    padding-left: 16px;

    span {
      display: block;
      margin-top: 10px;
    }
  }
  
  .active {
    color: #04C800;
  }
}